{% trans_default_domain 'uteg' %}

{% macro buildReport(values, colspan) %}
    {% for key, value in values %}
        {% if value.firstname is defined %}
            <tr>
                {% for val in value %}
                    <td>{{ val | trans }}</td>
                {% endfor %}
            </tr>
        {% else %}
            <table class="table table-bordered table-striped">
                <tr>
                    <td colspan="{{ colspan }}">
                        {{ key | trans }}
                    </td>
                </tr>
                {{ _self.buildReport(value, colspan) }}
            </table>
        {% endif %}
    {% endfor %}
{% endmacro %}

{{ _self.buildReport(starters, colspan) }}
