{% trans_default_domain 'uteg' %}

{% extends "base.html.twig" %}

{% block title %}{{ 'egt.reporting.divisions.title'|trans }}{% endblock %}

{% block jsplugins %}
    <script type="text/javascript" src='{{ asset("js/plugins/cookie/js.cookie.js") }}'></script>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            var settings = Cookies.getJSON("division-report");

            if (settings !== undefined) {
                $.each(settings, function (key, value) {
                    console.log(value);
                    $('#groupby-' + (key + 1)).val(value);
                });
            }
            selectPicker('.select', false, true);

            $(".panel-heading-settings").hide();

            $('#report-settings-button').click(function () {
                if ($(".panel-heading-settings:first").is(":hidden")) {
                    $(".panel-heading-settings").slideDown(300);
                } else {
                    $(".panel-heading-settings").slideUp(300);
                }
            });

            $('#save-report-settings').click(function () {
                var settings = [];
                $(".panel-heading-settings").slideUp(300);

                $.each($('.report-settings'), function (key, select) {
                    if ($(select).val() !== "") {
                        settings.push($(select).val());
                    }
                });
                Cookies.set("division-report", settings);
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div id="panel_divisions" class="panel panel-default" style="min-height: 400px;">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'egt.reporting.divisions.header'|trans }}</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="control-primary" id="report-settings-button"><span
                                        class="fa fa-gear"></span></a></li>
                        <li><a href="#" class="control-primary panel-fullscreen"><span class="fa fa-expand"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="panel-heading-settings">
                    {% for i in 1..4 %}
                        <div>
                            {{ i }}. {{ 'egt.reporting.divisions.groupby' | trans }}:
                            <select class="select report-settings" id="groupby-{{ i }}" name="groupby[{{ i }}]">
                                {% for grouping in groupings %}
                                    <option value="{{ grouping.value }}">{{ grouping.name | trans }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endfor %}
                    <button class="btn btn-success btn-rounded pull-right"
                            id="save-report-settings">{{ 'egt.reporting.divisions.save' | trans }}</button>
                </div>
                <div class="panel-body">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}