{% trans_default_domain 'uteg' %}

{% macro buildReport(values, colspan) %}
    {% for key, value in values %}
        {% if value.firstname is defined %}
            <tr>
                {% for val in value %}
                    <td>{{ val | trans }}</td>
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <th class="report-th" colspan="{{ colspan }}">
                    {{ key | trans }}
                </th>
            </tr>
            {{ _self.buildReport(value, colspan) }}
        {% endif %}
    {% endfor %}
{% endmacro %}


<meta charset="UTF-8"/>

<style>
    #report-table {
        width: 100%
    }

    .report-th {
        border-bottom:2px solid #5d5b5b;
    }
</style>
<table id="report-table">
    {{ _self.buildReport(starters, colspan) }}
</table>