{% trans_default_domain 'uteg' %}

{% macro buildReport(values, colspan, level) %}
    {% set level = level + 1 %}
    {% for key, value in values %}
        {% if value.firstname is defined %}
            <tr class="report-content-tr">
                {% for val in value %}
                    <td class="report-content-td">{{ val | trans }}</td>
                {% endfor %}
            </tr>
        {% else %}
            <tr class="report-tr report-tr-level-{{ level }}">
                <th class="report-th report-level-{{ level }}" colspan="{{ colspan }}">
                    {{ key | trans }}
                </th>
            </tr>

            {{ _self.buildReport(value, colspan, level) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% set url = app.request.uri | split('/') %}

{% if url|last == "pdf" %}
    <head>
        <meta charset="UTF-8"/>
    </head>
{% endif %}

<style>
    #columns {
        -webkit-column-count: {{ columncount }}; /* Chrome, Safari, Opera */
        -moz-column-count: {{ columncount }}; /* Firefox */
        column-count: {{ columncount }};
    }

    #report-table {
        width: 100%;
        text-align: left;
        font-family: 'Quicksand', sans-serif;
        color: #656d78;
        border-collapse: collapse;
    }

    .report-th {
        border-bottom: 2px solid #5d5b5b;
        font-size: 10pt;
        padding-top: 5px;
    }

    .report-content-td {
        padding-top: 5px;
        font-size: 8pt;
    }

    .report-level-1 {
        padding-left: 0px;
    }

    .report-tr-level-1 + .report-tr-level-2 > th.report-level-2 {
        padding-top: 10px;
    }

    .report-level-2 {
        padding-top: 50px;
        padding-left: 10px;
    }

    .report-level-3 {
        padding-top: 10px;
        padding-left: 20px;
    }

    .report-level-4 {
        padding-top: 10px;
        padding-left: 30px;
    }

    .report-level-5 {
        padding-top: 10px;
        padding-left: 40px;
    }

    .report-content-tr:nth-child(even) {
        background-color: #c7c7c7;
    }
</style>
<div id="columns">
<table id="report-table">
    {{ _self.buildReport(starters, colspan, 0) }}
</table>
</div>