{% trans_default_domain 'uteg' %}

{% macro buildReport(values, colspan) %}
    {% for key, value in values %}
        {% if value.firstname is defined %}
            <tr>
                {% for val in value %}
                    <td>{{ val }}</td>
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td colspan="{{ colspan }}">
                    {{ key | trans }}
                </td>
            </tr>
            {{ _self.buildReport(value, colspan) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

<table class="table table-bordered table-striped">
    {{ _self.buildReport(starters, colspan) }}
</table>