{% trans_default_domain 'uteg' %}

{% macro buildReport(headers, starters) %}
    <thead style="display: table-header-group">
        {% for header in headers %}
            <th style="border-bottom: 2px solid #5d5b5b; font-size: 10pt; vertical-align: middle; width: 30px; text-align: center; position: relative; vertical-align: bottom; padding-top: 20px; padding-bottom: 40px;" class="{{ header.class }}">{{ header.name | trans }}</th>
        {% endfor %}
    </thead>
    <tbody>
    {% for starter in starters %}
        <tr>
            <td class="small center">{{ starter.rank }}</td>
            <td>{{ starter.firstname }}</td>
            <td>{{ starter.lastname }}</td>
            <td>{{ starter.birthyear }}</td>
            <td>{{ starter.club }}</td>
            <td class="grade center">{{ starter.1 }}</td>
            <td class="grade center">{{ starter.2 }}</td>
            <td class="grade center">{{ starter.3 }}</td>
            {% if starter.gender == "male" %}
                <td class="grade center">{{ starter.4 }}</td>
            {% endif %}
            <td class="grade center">{{ starter.5 }}</td>
            <td class="grade bold center">{{ starter.total }}</td>
            <td class="small center">{{ starter.award }}</td>
        </tr>
    {% endfor %}
    </tbody>
{% endmacro %}

{% set url = app.request.uri | split('/') %}

{% if url|last == "pdf" %}
    <head>
        <meta charset="UTF-8"/>
        <title>{{ 'egt.reporting.ranking.title'|trans }}</title>
    </head>
{% endif %}

<style>
    @media print {
        thead {
            display: table-header-group;
        }
    }

    body {
        font-family: 'Quicksand', sans-serif;
        color: #656d78;
    }


    #report-table {
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }

    thead {
        display: table-header-group;
    }

    tbody > tr > td {
        padding-top: 5px;
        font-size: 8pt;
    }

    tbody > tr:nth-child(even) {
        background-color: #c7c7c7;
    }

    h2, h4 {
        margin: 0;
    }

    h4 {
        margin-bottom: 10px;
    }

    .grade {
        width: 40px;
    }

    .bold {
        font-weight: bold;
    }

    .small {
        width: 5px;
        padding-right: 5px;
    }

    .center {
        text-align: center;
    }
</style>
<h2 class="bold">{{ 'egt.reporting.ranking.title'|trans }} {{ category.name }}</h2>
<h4>{{ competition.name }}</h4>
<table id="report-table">
    {{ _self.buildReport(headers, starters) }}
</table>