{% trans_default_domain 'uteg' %}

<form id="inviteEditForm" method="post" action="{{ path(target)}}" class="form-horizontal">

    {{ form_row(form.club) }}

    {{ form_row(form.valid) }}
	{% if error.valid is defined %}<label class="error">{{ error.valid|trans }}</label>{% endif %}

    {{ form_row(form._token) }}
</form>