{% trans_default_domain 'uteg' %}

{% extends "base.html.twig" %}

{% block title %}{{ 'starters.import.title'|trans }}{% endblock %}

{% block docready %}
    {% for starter in starters %}
        $('#sex{{ loop.index }}').val("{{ starter.sex }}");
        $('#club{{ loop.index }}').val("{{ starter.club.id }}");
        $('#category{{ loop.index }}').val("{{ starter.category.id }}");
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" style="min-height: 400px;">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'starters.import.header'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <form method="POST" action="{{ path('starterImport') }}">
                        <table class="table table-striped" >
                            <thead>
                                <tr>
                                    <th>{{ 'starters.table.firstname'|trans }}</th>
                                    <th>{{ 'starters.table.lastname'|trans }}</th>
                                    <th>{{ 'starters.table.birthyear'|trans }}</th>
                                    <th>{{ 'starters.table.sex'|trans }}</th>
                                    <th>{{ 'starters.table.club'|trans }}</th>
                                    <th>{{ 'starters.table.category'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for starter in starters %}
                                    <tr>
                                        <td><input name="{{ loop.index }}[starterFirstname]" type="text" value="{{ starter.firstname }}" ></td>
                                        <td><input name="{{ loop.index }}[starterLastname]" type="text" value="{{ starter.lastname }}" ></td>
                                        <td><input name="{{ loop.index }}[starterBirthyear]" type="number" max-length="4" min-length="4" value="{{ starter.birthyear }}" ></td>
                                        <td><select id="sex{{ loop.index }}" name="{{ loop.index }}[starterSex]" ><option value="m">Male</option><option value="f">Female</option></select></td>
                                        <td><select id="club{{ loop.index }}" name="{{ loop.index }}[starterClub]" >{% for club in clubs %}<option value="{{ club.id }}">{{ club.name }}</option>{% endfor %}</select></td>
                                        <td><select id="category{{ loop.index }}" name="{{ loop.index }}[starterCategory]" >{% for category in categories %}<option value="{{ category.id }}">{{ category.name }}</option>{% endfor %}</select></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="pull-right">
                            <button class="btn btn-success active"><span class="fa fa-save"></span> Save</button>
                            <button class="btn btn-danger"><span class="fa fa-times"></span> Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
