{% trans_default_domain 'uteg' %}

{% extends "base.html.twig" %}

{% block title %}{{ 'starters.upload.title'|trans }}{% endblock %}

{% block jsplugins %}<script type="text/javascript" src="/js/plugins/dropzone/dropzone.js"></script>{% endblock %}

{% block docready %}
	Dropzone.autoDiscover = false;
	var myDropzone = new Dropzone('#starterUpload', {
		paramName: "file", // The name that will be used to transfer the file
		autoProcessQueue: false,
		uploadMultiple: true,
		acceptedFiles: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
	});
	
	$('#process').click(function() {
		myDropzone.processQueue();
	});
	
	myDropzone.on("success", function(file, responseText) {
		window.location.href = responseText;
	});

	$('#cancel').click(function() {
		window.location.href = "{{ path('starters') }}";
	});
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" style="min-height: 400px;">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'starters.upload.header'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <form enctype="multipart/form-data" id="starterUpload" name="starterUpload" class="dropzone dz-clickable" action="{{ path('starterProcess') }}" method="POST">
                    </form>
                    <div class="pull-right">
                    	<button id="process" class="btn btn-success active"><span class="fa fa-cogs"></span> {{ 'starters.upload.procress'|trans }}</button>
                        <button id="cancel" class="btn btn-danger"><span class="fa fa-times"></span> {{ 'starters.upload.cancel'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
