{% trans_default_domain 'uteg' %}

{% extends "base.html.twig" %}

{% block title %}{{ 'starters.import.title'|trans }}{% endblock %}

{% block cssplugins %}
    <link rel="stylesheet" type="text/css" id="theme" href='{{ asset("js/plugins/typeahead/typeahead.css") }}'>
{% endblock %}

{% block jsplugins %}
    <script type="text/javascript" src='{{ asset("js/plugins/bootstrap/bootstrap-select.js") }}'></script>
    <script type="text/javascript" src='{{ asset("js/plugins/typeahead/typeahead.js") }}'></script>
{% endblock %}

{% block script %}
    <script>
        var starters = JSON.parse('{{ render(controller("uteg:Default:autocompleteStarters")) }}');

        var substringMatcher = function (starters) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                matches = [];

                substrRegex = new RegExp(q, 'i');

                $.each(starters, function (i, starter) {
                    if (substrRegex.test(starter.firstname) || substrRegex.test(starter.lastname) || substrRegex.test(starter.birthyear)) {
                        matches.push(starter);
                    }
                });

                cb(matches);
            };
        };

        function autoComplete(selector, display) {
            $(selector).typeahead(null, {
                name: 'starters',
                highlight: true,
                limit: 5,
                display: display,
                source: substringMatcher(starters),
                templates: {
                    suggestion: function (starter) {
                        return '<p><span class="' + starter.sex + '"><i style="padding-right: 10px;" class="fa fa-' + ((starter.sex == 'female') ? 'venus' : 'mars' ) + '"></i>' + starter.firstname + ' ' + starter.lastname + ' </span><span class="birthyear">' + starter.birthyear + '</span></p>';
                    }
                }
            });
        }

        $(document).ready(function () {
            {% for starter in starters %}
            {% if starter.sex is defined %}$('#sex{{ loop.index0 }}').val("{{ starter.sex }}");
            {% endif %}
            {% if starter.club.id is defined %}$('#club{{ loop.index0 }}').val("{{ starter.club.id }}");
            {% endif %}
            {% if starter.category.id is defined %}$('#category{{ loop.index0 }}').val("{{ starter.category.id }}");
            {% endif %}
            {% endfor %}

            $('.selectSearch').selectpicker({
                liveSearch: true,
                size: 10
            });

            $('.select').selectpicker({
                size: 10
            });

            $('#submit').click(function () {
                $('#starters').submit();
            });

            $('#cancel').click(function () {
                window.location.href = "{{ path('starterImport') }}";
            });

            autoComplete('input[name*="firstname"]', 'firstname');
            autoComplete('input[name*="lastname"]', 'lastname');
            autoComplete('input[name*="birthyear"]', 'birthyear');

            $('.typeahead').bind('typeahead:select', function (ev, starter) {
                var row = $(this).closest('tr');
                row.find('[name*="firstname"]').typeahead('val', starter.firstname);
                row.find('[name*="lastname"]').typeahead('val', starter.lastname);
                row.find('[name*="birthyear"]').typeahead('val', starter.birthyear);
                row.find('[name*="sex"]').selectpicker('val', starter.sex);
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" style="min-height: 400px;">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'starters.import.header'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <form id="starters" method="POST" action="{{ path('starterAddMassive') }}">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'starters.import.table.firstname'|trans }}</th>
                                <th>{{ 'starters.import.table.lastname'|trans }}</th>
                                <th>{{ 'starters.import.table.birthyear'|trans }}</th>
                                <th>{{ 'starters.import.table.sex'|trans }}</th>
                                <th>{{ 'starters.import.table.club'|trans }}</th>
                                <th>{{ 'starters.import.table.category'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for starter in starters %}
                                <tr>
                                    <td>
                                        <input name="data[{{ loop.index0 }}][firstname]" type="text"
                                               class="form-control typeahead" value="{{ starter.firstname }}">
                                        {% if errors[loop.index0].firstname is defined %}<label
                                                class="error">{{ errors[loop.index0].firstname|trans }}</label>{% endif %}
                                    </td>
                                    <td>
                                        <input name="data[{{ loop.index0 }}][lastname]" type="text"
                                               class="form-control typeahead"
                                               value="{{ starter.lastname }}">
                                        {% if errors[loop.index0].lastname is defined %}<label
                                                class="error">{{ errors[loop.index0].lastname|trans }}</label>{% endif %}
                                    </td>
                                    <td>
                                        <input name="data[{{ loop.index0 }}][birthyear]" type="number" min="1950"
                                               class="form-control typeahead" value="{{ starter.birthyear }}">
                                        {% if errors[loop.index0].birthyear is defined %}<label
                                                class="error">{{ errors[loop.index0].birthyear|trans }}</label>{% endif %}
                                    </td>
                                    <td>
                                        <select id="sex{{ loop.index0 }}" name="data[{{ loop.index0 }}][sex]"
                                                class="form-control select">
                                            <option value="">{{ 'starters.import.choose'|trans }}</option>
                                            <option value="male">{{ 'starters.import.table.male'|trans }}</option>
                                            <option value="female">{{ 'starters.import.table.female'|trans }}</option>
                                        </select>
                                        {% if errors[loop.index0].sex is defined %}<label
                                                class="error">{{ errors[loop.index0].sex|trans }}</label>{% endif %}
                                    </td>
                                    <td>
                                        <select id="club{{ loop.index0 }}" name="data[{{ loop.index0 }}][club]"
                                                class="form-control selectSearch">
                                            <option value="">{{ 'starters.import.choose'|trans }}</option>
                                            {% for club in clubs %}
                                                <option value="{{ club.id }}">{{ club.name }}</option>
                                            {% endfor %}
                                        </select>
                                        {% if errors[loop.index0].club is defined %}<label
                                                class="error">{{ errors[loop.index0].club|trans }}</label>{% endif %}
                                    </td>
                                    <td>
                                        <select id="category{{ loop.index0 }}" name="data[{{ loop.index0 }}][category]"
                                                class="form-control select">
                                            <option value="">{{ 'starters.import.choose'|trans }}</option>
                                            {% for category in categories %}
                                                <option
                                                value="{{ category.id }}">{{ category.name }}</option>{% endfor %}
                                        </select>
                                        {% if errors[loop.index0].category is defined %}<label
                                                class="error">{{ errors[loop.index0].category|trans }}</label>{% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                    <div class="pull-right">
                        <button id="submit" class="btn btn-success active"><span
                                    class="fa fa-save"></span> {{ 'starters.import.save'|trans }}</button>
                        <button id="cancel" class="btn btn-danger"><span
                                    class="fa fa-times"></span> {{ 'starters.import.cancel'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
