{% trans_default_domain 'UtegBase' %}
{% extends "bootstrap_3_horizontal_layout.html.twig" %}

{% block checkbox_row %}
    {% spaceless %}
        <div class="form-group{% if not valid %} has-error{% endif %}">
            {{ block('form_label') }}
            <div class="{{ block('form_group_class') }}">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
    {% endblock %}

{% block checkbox_widget %}
    {% spaceless %}
        <label class="switch switch-small">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            <span></span>
        </label>
    {% endspaceless %}
{% endblock checkbox_widget %}