{% trans_default_domain 'UtegBase' %}
{% form_theme form 'UtegBaseBundle::form/formTheme_horizontal.html.twig' %}

<form id="starterEditForm" method="post" action="{{ path(target) }}" class="form-horizontal">

    {{ form_row(form.firstname) }}

    {{ form_row(form.lastname) }}

    {{ form_row(form.birthyear) }}

    {{ form_row(form.sex) }}

    {{ form_row(form.category) }}

    {{ form_row(form.club) }}

    {{ form_row(form.present) }}

    {{ form_row(form.medicalcert) }}

    {{ form_row(form._token) }}
</form>
<script>
    {% if error.firstname is defined %}$('input[name*="firstname"]').addClass('error');
    {% endif %}
    {% if error.lastname is defined %}$('input[name*="lastname"]').addClass('error');
    {% endif %}
    {% if error.birthyear is defined %}$('input[name*="birthyear"]').addClass('error');
    {% endif %}

    var starters = JSON.parse('{{ render(controller("UtegBaseBundle:Default:autocompleteStarters")) }}');
    var substringMatcher = function (starters) {
        return function findMatches(q, cb) {
            var matches, substringRegex;

            matches = [];

            substrRegex = new RegExp(q, 'i');

            $.each(starters, function (i, starter) {
                if (substrRegex.test(starter.firstname) || substrRegex.test(starter.lastname) || substrRegex.test(starter.birthyear)) {
                    matches.push(starter);
                }
            });

            cb(matches);
        };
    };

    function autoComplete(selector, display) {
        $(selector).typeahead(null, {
            name: 'starters',
            highlight: true,
            limit: 5,
            display: display,
            source: substringMatcher(starters),
            templates: {
                suggestion: function (starter) {
                    return '<p><span class="' + starter.sex + '"><i style="padding-right: 10px;" class="fa fa-' + ((starter.sex == 'female') ? 'venus' : 'mars' ) + '"></i>' + starter.firstname + ' ' + starter.lastname + ' </span><span class="birthyear">' + starter.birthyear + '</span></p>';
                }
            }
        });
    }

    $('input').bind('typeahead:select', function (ev, starter) {
        $('#uteg_starter_firstname').typeahead('val', starter.firstname);
        $('#uteg_starter_lastname').typeahead('val', starter.lastname);
        $('#uteg_starter_birthyear').typeahead('val', starter.birthyear);
        $('#uteg_starter_sex').selectpicker('val', starter.sex);
    });

    autoComplete('#uteg_starter_firstname', 'firstname');
    autoComplete('#uteg_starter_lastname', 'lastname');
    autoComplete('#uteg_starter_birthyear', 'birthyear');
</script>