{% trans_default_domain 'uteg' %}

{% set url = app.request.uri | split('/') %}
{% if url|last == "pdf" %}
    <head>
        <meta charset="UTF-8"/>
        <title>{{ 'egt.reporting.judging.title'|trans }}</title>
    </head>
{% endif %}

<style>
    tbody > tr:nth-child(even) {
        background-color: #c7c7c7;
    }

    table > thead > tr, table > tbody > tr {
        font-size: 10pt;
    }
</style>
{% for starterBase in starters %}
    <h2 style="color: #434a54; font-weight: bold; page-break-before: always;">{{ starterBase.device.name | trans }}</h2>
    <table style="width: 100%; text-align: left; border-collapse: collapse;font-family: 'Quicksand', sans-serif;">
        <thead>
        <tr>
            <th>{{ 'championat.judging.table.id'|trans }}</th>
            <th>{{ 'championat.judging.table.firstname'|trans }}</th>
            <th>{{ 'championat.judging.table.lastname'|trans }}</th>
            <th>{{ 'championat.judging.table.club'|trans }}</th>
            <th>{{ 'championat.judging.table.category'|trans }}</th>
            <th>{{ 'championat.judging.table.grade'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for key, starter in starterBase.starters %}
            {% if starter != "pause" %}
                <tr style="page-break-inside: avoid; color: #656d78;">
                    <td style="padding-top: 10px; width: 20%;">{{ starter.s2cid }}</td>
                    <td style="padding-top: 10px; width: 20%;">{{ starter.firstname }}</td>
                    <td style="padding-top: 10px; width: 20%;">{{ starter.lastname }}</td>
                    <td style="padding-top: 10px; width: 20%;">{{ starter.club }}</td>
                    <td style="padding-top: 10px; width: 20%;">{{ starter.category }}</td>
                    <td style="padding-top: 10px; width: 20%;"></td>
                </tr>
            {% else %}
                <tr style="page-break-inside: avoid; color: #656d78;">
                    <td style="padding-top: 10px; width: 20%;" colspan="6">{{ starter }}</td>
                </tr>
            {% endif %}
        {% else %}
            <h4>{{ 'championat.judging.pause'|trans }}
            </h4>
        {% endfor %}
        </tbody>
    </table>
{% endfor %}