{% trans_default_domain 'uteg' %}

{% extends "base.html.twig" %}

{% block title %}{{ 'egt.divisions.title'|trans }}{% endblock %}

{% block jsplugins %}
    <script type="text/javascript" src='{{ asset("js/plugins/bootstrap/bootstrap-select.js") }}'></script>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            selectPicker('.select', false);
            selectPicker('.selectSearch', true);
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div id="panel_divisions" class="panel panel-default" style="min-height: 400px;">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'egt.divisions.header'|trans }}</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="control-primary panel-fullscreen"><span class="fa fa-expand"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="col-md-3">
                        <select id="divisions-filter-sex" name="divisions-filter[sex]" class="select"
                                data-width="100%">
                            <option value="f">{{ 'egt.divisions.female' | trans }}</option>
                            <option value="m">{{ 'egt.divisions.male' | trans }}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select id="divisions-filter-category" name="divisions-filter[category]"
                                class="select" data-width="100%">
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select id="divisions-filter-department" name="divisions-filter[department]"
                                class="select" data-width="100%">
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select id="divisions-filter-club" name="divisions-filter[club]" class="selectSearch"
                                data-width="100%">
                            <option value="all">{{ 'egt.divisions.all' | trans }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}