{% trans_default_domain 'uteg' %}

{% extends "base.html.twig" %}

{% block title %}{{ 'egt.divisions.title'|trans }}{% endblock %}

{% block jsplugins %}
    <script type="text/javascript" src='{{ asset("js/plugins/bootstrap/bootstrap-select.js") }}'></script>
    <script type="text/javascript" src='{{ asset("js/plugins/nestable/jquery.nestable.js") }}'></script>
{% endblock %}

{% block css %}
    <style>
    .dd {
        padding-top:20px;
    }

        .dd-list {
            border: 1px solid #D5D5D5;
            padding: 5px;
            background: rgba(242, 242, 242,0.4);
            overflow-y: auto;
            max-height:95%;
            -moz-border-radius: 5px 5px 5px 5px;
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
        }
    </style>
{% endblock %}

{% block script %}
    <script>
        function init() {
            selectPicker('.select', false, true);
            selectPicker('.selectSearch', true, true);

            $('.select, .selectSearch').change(function () {
                selectChange($(this).data('filter'));
            });

            selectChange('gender');

            $(window).resize(function() {
                sizeDivs();
            });
        }

        function sizeDivs() {
            sizeDiv('#divisions-unassigned-starters');
        }

        function sizeDiv(selector) {
            if(selector == "#divisions-unassigned-starters") {
                $(selector).height($(window).height()/100*70);
            } else {
                $(selector).height($(window).height()/100*20);
            }
        }

        function update(source) {
            switch (source) {
                case 'gender':
                    $('#divisions-filter-category').selectpicker('val', $('#divisions-filter-category option')[0].value);
                    break;
                case 'category':
                    $('#divisions-filter-department').selectpicker('val', $('#divisions-filter-department option')[0].value);
                    break;
                case 'department':
                    $('#divisions-filter-club').selectpicker('val', $('#divisions-filter-club option')[0].value);
                    break;
            }
        }

        function selectChange(filter) {
            var filterSerialize = $('#divisions-filter').serialize();

            return $.ajax({
                url: "{{ path('divisionFilter', { 'compid': app.request.get('compid')}) }}?by=" + filter,
                method: "POST",
                data: filterSerialize
            }).success(function (data) {
                switch (data.filteredBy) {
                    case 'gender':
                        $('#divisions-filter-category').html('');
                        $.each(data.value, function (key, value) {
                            $('#divisions-filter-category').append('<option value="' + value.number + '">' + value.name + '</option>');
                        });
                        $('#divisions-filter-category').selectpicker('refresh');

                        break;
                    case 'category':
                        $('#divisions-filter-department').html('');
                        $.each(data.value, function (key, day) {
                            var optgroup = $('<optgroup>');
                            optgroup.attr('label', day.date);

                            $.each(day.deps, function (key, value) {
                                $(optgroup).append('<option value="' + value.id + '" data-subtext="' + value.date + '">{{ 'egt.divisions.department' | trans }} ' + value.number + '</option>');
                            });

                            $('#divisions-filter-department').append(optgroup);

                        });
                        $('#divisions-filter-department').selectpicker('refresh');
                        break;
                    case 'department':
                        $('#divisions-filter-club').html('<option value="all">{{ 'egt.divisions.all' | trans }}</option>');
                        $.each(data.value, function (key, value) {
                            $('#divisions-filter-club').append('<option value="' + value.id + '">' + value.name + '</option>');
                        });
                        $('#divisions-filter-club').selectpicker('refresh');
                        break;
                    case 'club':
                        $('#divisions-unassigned-starters ol').html('');

                        $.each(data.value.starters.unassigned, function (key, value) {
                            $('#divisions-unassigned-starters ol').append('<li class="dd-item dd3-item" data-id="' + value.id + '"><div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">' + value.firstname + ' ' + value.lastname + ' <span class="small-text">' + value.club + '</span></div><li>');
                        });

                        $('#divisions-unassigned-starters').nestable({
                            "maxDepth": 1
                        });

                        sizeDivs();
                }

                update(data.filteredBy);
            });
        }

        $(document).ready(function () {
            init();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div id="panel_divisions" class="panel panel-default" style="min-height: 400px;">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'egt.divisions.header'|trans }}</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="control-primary panel-fullscreen"><span class="fa fa-expand"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form id="divisions-filter">
                            <div class="col-md-3">
                                <select id="divisions-filter-gender" name="divisions-filter[gender]" class="select"
                                        data-width="100%" data-filter="gender">
                                    <option value="female">{{ 'egt.divisions.female' | trans }}</option>
                                    <option value="male">{{ 'egt.divisions.male' | trans }}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select id="divisions-filter-category" name="divisions-filter[category]"
                                        class="select" data-width="100%" data-filter="category">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select id="divisions-filter-department" name="divisions-filter[department]"
                                        class="select" data-width="100%" data-filter="department">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select id="divisions-filter-club" name="divisions-filter[club]" class="selectSearch"
                                        data-width="100%" data-filter="club">
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-md-3 dd" id="divisions-unassigned-starters">
                            <h3>{{ 'egt.divisions.header-unassigned' | trans }}</h3>
                            <ol class="dd-list"></ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}