{% trans_default_domain 'uteg' %}

{% extends "base.html.twig" %}

{% block title %}{{ 'egt.divisions.title'|trans }}{% endblock %}

{% block jsplugins %}
    <script type="text/javascript" src='{{ asset("js/plugins/bootstrap/bootstrap-select.js") }}'></script>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            selectPicker('.select', false);
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div id="panel_divisions" class="panel panel-default" style="min-height: 400px;">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'egt.divisions.header'|trans }}</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="control-primary panel-fullscreen"><span class="fa fa-expand"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <blockquote id="divisions-filter">
                        <select id="divisions-filter-sex" name="divisions-filter[sex]" class="select">
                            <option value="f">{{ 'egt.divisions.female' | trans }}</option>
                            <option value="m">{{ 'egt.divisions.male' | trans }}</option>
                        </select>
                        <select id="divisions-filter-category" name="divisions-filter[category]" class="select">

                        </select>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
{% endblock %}