{% trans_default_domain 'uteg' %}

{% extends "base.html.twig" %}

{% block title %}{{ 'egt.divisions.title'|trans }}{% endblock %}

{% block jsplugins %}
    <script type="text/javascript" src='{{ asset("js/plugins/bootstrap/bootstrap-select.js") }}'></script>
{% endblock %}

{% block script %}
    <script>
        function selectChange(filter) {
            var filterSerialize = $('#divisions-filter').serialize();

            $.ajax({
                url: "{{ path('divisionFilter', { 'compid': app.request.get('compid')}) }}?by=" + filter,
                method: "POST",
                data: filterSerialize
            }).success(function (data) {
                switch (data.filteredBy) {
                    case 'sex':
                        $('#divisions-filter-category').html('');
                        $.each(data.value, function (key, value) {
                            $('#divisions-filter-category').append('<option value="' + value.number + '">' + value.name + '</option>');
                        });
                        $('#divisions-filter-category').selectpicker('refresh');
                        break;
                }
            });
        }

        $(document).ready(function () {
            selectPicker('.select', false);
            selectPicker('.selectSearch', true);

            $('.select, .selectSearch').change(function () {
                selectChange($(this).data('filter'));
            });

            selectChange('sex');
            selectChange('category');
            selectChange('department');
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div id="panel_divisions" class="panel panel-default" style="min-height: 400px;">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'egt.divisions.header'|trans }}</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="control-primary panel-fullscreen"><span class="fa fa-expand"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form id="divisions-filter">
                            <div class="col-md-3">
                                <select id="divisions-filter-sex" name="divisions-filter[sex]" class="select"
                                        data-width="100%" data-filter="sex">
                                    <option value="female">{{ 'egt.divisions.female' | trans }}</option>
                                    <option value="male">{{ 'egt.divisions.male' | trans }}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select id="divisions-filter-category" name="divisions-filter[category]"
                                        class="select" data-width="100%" data-filter="category">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select id="divisions-filter-department" name="divisions-filter[department]"
                                        class="select" data-width="100%" data-filter="department">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select id="divisions-filter-club" name="divisions-filter[club]" class="selectSearch"
                                        data-width="100%" data-filter="club">
                                    <option value="all">{{ 'egt.divisions.all' | trans }}</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}