{% extends "base_overview.html.twig" %}

{% trans_default_domain 'uteg' %}

{% block title %}{{ 'competitionlist.addcomp.title'|trans }}{% endblock %}

{% block header %}

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('#appbundle_competition_startdate').addClass('datepicker');

            $('#appbundle_competition_enddate').addClass('datepicker');


            $('.datepicker').datepicker({
                showOtherMonths: true,
                format: 'yyyy-mm-dd',
                weekStart: 1,
                autoClose: true
            });

            var nowTemp = new Date();
            var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

            var startdate = $('#appbundle_competition_startdate').datepicker({
                format: 'yyyy-mm-dd',
                weekStart: 1,
                autoClose: true,
                startDate: "-0d"
            }).data('datepicker');

            var enddate = $('#appbundle_competition_enddate').datepicker({
                format: 'yyyy-mm-dd',
                weekStart: 1,
                autoClose: true
            }).data('datepicker');
        });
    </script>
{% endblock %}

{% block content %}
    <div id="comp">
        <div id="triangle"></div>
        <h1>{{ 'competitionlist.addcomp.header'|trans }}</h1>

        <div class="content">
            <form action="{{ path('addNewComp') }}" {{ form_enctype(form) }} method="POST">
                {{ form_widget(form) }}
                {{ form_rest(form) }}
                <div>
                    <input type="submit" value="{{ 'competitionlist.addcomp.submit'|trans() }}"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}