{% trans_default_domain 'uteg' %}

{% extends "baseAnon.html.twig" %}

{% block title %}{{ 'invite.club.title'|trans }}{% endblock %}

{% block cssplugins %}
    <link rel="stylesheet" type="text/css" id="theme" href='{{ asset("js/plugins/typeahead/typeahead.css") }}'>
{% endblock %}

{% block jsplugins %}
    <script type="text/javascript" src='{{ asset("js/plugins/bootstrap/bootstrap-select.js") }}'></script>
    <script type="text/javascript" src='{{ asset("js/plugins/typeahead/typeahead.js") }}'></script>
{% endblock %}

{% block script %}
    <script>
        var category = '{% for category in categories %}<option value="{{ category.id }}">{{ category.name }}</option>{% endfor %}';
        var sex = '<option value="male">{{ 'invite.club.table.male'|trans }}</option><option value="female">{{ 'invite.club.table.female'|trans }}</option>';
        var starters = JSON.parse('{{ render(controller("uteg:Default:autocompleteStarters")) }}');
        var indexCounter = {{ starters|length }};

        var substringMatcher = function (starters) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                matches = [];

                substrRegex = new RegExp(q, 'i');

                $.each(starters, function (i, starter) {
                    if (substrRegex.test(starter.firstname) || substrRegex.test(starter.lastname) || substrRegex.test(starter.birthyear)) {
                        matches.push(starter);
                    }
                });

                cb(matches);
            };
        };

        function autoComplete(selector, display) {
            $(selector).typeahead(null, {
                name: 'starters',
                highlight: true,
                limit: 5,
                display: display,
                source: substringMatcher(starters),
                templates: {
                    suggestion: function (starter) {
                        return '<p><span class="' + starter.sex + '"><i style="padding-right: 10px;" class="fa fa-' + ((starter.sex == 'female') ? 'venus' : 'mars' ) + '"></i>' + starter.firstname + ' ' + starter.lastname + ' </span><span class="birthyear">' + starter.birthyear + '</span></p>';                    }
                }
            });
        }

        function addNewLineEvent() {
            $('#starters table tbody tr:last td input.typeahead').bind('typeahead:change typeahead:select', function () {
                if ($(this).val() !== '' && $(this).closest("tr").is(":last-child")) {
                    $('#starters table tbody').append('<tr>\
                    <td><input name="data[' + indexCounter + '][firstname]" type="text" class="form-control typeahead" placeholder="{{ 'invite.club.table.firstname'|trans }}"></td>\
                    <td><input name="data[' + indexCounter + '][lastname]" type="text" class="form-control typeahead" placeholder="{{ 'invite.club.table.lastname'|trans }}"></td>\
                    <td><input name="data[' + indexCounter + '][birthyear]" type="number" min="1950" class="form-control typeahead" placeholder="{{ 'invite.club.table.birthyear'|trans }}"></td>\
                    <td><select name="data[' + indexCounter + '][sex]" class="form-control select">' + sex + '</select></td>\
                    <td><select name="data[' + indexCounter + '][category]" class="form-control select">' + category + '</select></td>\
                    <td><div class="btn-group"><button class="btn btn-danger btn-rounded btn-condensed btn-sm btn-icon starter-remove"><i class="fa fa-times"></i><span>Remove</span></button></div></td>\
                </tr>');
                    indexCounter++;

                    $('#starters table tbody tr:last td div button.starter-remove').click(function (e) {
                        e.preventDefault();
                        if (!$(this).closest("tr").is(":last-child")) {
                            $(this).closest("tr").remove();
                        }
                    });

                    $('#starters table tbody tr:last td select.select').selectpicker();

                    autoComplete('#starters table tbody tr:last td input.typeahead[name*="firstname"]', 'firstname');
                    autoComplete('#starters table tbody tr:last td input.typeahead[name*="lastname"]', 'lastname');
                    autoComplete('#starters table tbody tr:last td input.typeahead[name*="birthyear"]', 'birthyear');

                    $('#starters table tbody tr:last td input.typeahead').bind('typeahead:select', function (ev, starter) {
                        var row = $(this).closest('tr');
                        row.find('[name*="firstname"]').typeahead('val', starter.firstname);
                        row.find('[name*="lastname"]').typeahead('val', starter.lastname);
                        row.find('[name*="birthyear"]').typeahead('val', starter.birthyear);
                        row.find('[name*="sex"]').selectpicker('val', starter.sex);
                    });

                    addNewLineEvent();
                }
            });
        }

        $(document).ready(function () {
            $('select[id*="sex"]').html(sex);
            $('select[id*="category"]').html(category);

            {% for starter in starters %}
            {% if starter.sex is defined %}$('#sex{{ loop.index0 }}').val("{{ starter.sex }}");
            {% endif %}
            {% if starter.category.id is defined %}$('#category{{ loop.index0 }}').val("{{ starter.category.id }}");
            {% endif %}
            {% endfor %}

            $('#starters table tbody').append('<tr>\
                    <td><input name="data[' + indexCounter + '][firstname]" type="text" class="form-control typeahead" placeholder="{{ 'invite.club.table.firstname'|trans }}"></td>\
                    <td><input name="data[' + indexCounter + '][lastname]" type="text" class="form-control typeahead" placeholder="{{ 'invite.club.table.lastname'|trans }}"></td>\
                    <td><input name="data[' + indexCounter + '][birthyear]" type="number" min="1950" class="form-control typeahead" placeholder="{{ 'invite.club.table.birthyear'|trans }}"></td>\
                    <td><select name="data[' + indexCounter + '][sex]" class="form-control select">' + sex + '</select></td>\
                    <td><select name="data[' + indexCounter + '][category]" class="form-control select">' + category + '</select></td>\
                    <td><div class="btn-group"><button class="btn btn-danger btn-rounded btn-condensed btn-sm btn-icon starter-remove"><i class="fa fa-times"></i><span>Remove</span></button></div></td>\
                </tr>');
            indexCounter++;

            addNewLineEvent();

            $('.select').selectpicker();

            autoComplete('.typeahead[name*="firstname"]', 'firstname');
            autoComplete('.typeahead[name*="lastname"]', 'lastname');
            autoComplete('.typeahead[name*="birthyear"]', 'birthyear');

            $('.typeahead').bind('typeahead:select', function (ev, starter) {
                var row = $(this).closest('tr');
                row.find('[name*="firstname"]').typeahead('val', starter.firstname);
                row.find('[name*="lastname"]').typeahead('val', starter.lastname);
                row.find('[name*="birthyear"]').typeahead('val', starter.birthyear);
                row.find('[name*="sex"]').selectpicker('val', starter.sex);
            });

            $('button.starter-remove').click(function (e) {
                e.preventDefault();
                if (!$(this).closest("tr").is(":last-child")) {
                    $(this).closest("tr").remove();
                }
            });


            $('#submit').click(function () {
                $('#starters').submit();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" style="min-height: 400px;">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'invite.club.header'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <form id="starters" method="POST" action="{{ path('inviteAddToken', { token: app.request.get('token'), 'compid': app.request.get('compid')}) }}">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'invite.club.table.firstname'|trans }}</th>
                                <th>{{ 'invite.club.table.lastname'|trans }}</th>
                                <th>{{ 'invite.club.table.birthyear'|trans }}</th>
                                <th>{{ 'invite.club.table.sex'|trans }}</th>
                                <th>{{ 'invite.club.table.category'|trans }}</th>
                                <th style="width: 105px;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for starter in starters %}
                                <tr>
                                    <td>
                                        <input name="data[{{ loop.index0 }}][firstname]" type="text"
                                               class="form-control typeahead" value="{{ starter.firstname }}"
                                               placeholder="{{ 'invite.club.table.firstname'|trans }}">
                                        {% if errors[loop.index0].firstname is defined %}<label
                                                class="error">{{ errors[loop.index0].firstname|trans }}</label>{% endif %}
                                    </td>
                                    <td>
                                        <input name="data[{{ loop.index0 }}][lastname]" type="text"
                                               class="form-control typeahead" value="{{ starter.lastname }}"
                                               placeholder="{{ 'invite.club.table.lastname'|trans }}">
                                        {% if errors[loop.index0].lastname is defined %}<label
                                                class="error">{{ errors[loop.index0].lastname|trans }}</label>{% endif %}
                                    </td>
                                    <td>
                                        <input name="data[{{ loop.index0 }}][birthyear]" type="number" min="1950"
                                               class="form-control typeahead" value="{{ starter.birthyear }}"
                                               placeholder="{{ 'invite.club.table.birthyear'|trans }}">
                                        {% if errors[loop.index0].birthyear is defined %}<label
                                                class="error">{{ errors[loop.index0].birthyear|trans }}</label>{% endif %}
                                    </td>
                                    <td>
                                        <select id="sex{{ loop.index0 }}" name="data[{{ loop.index0 }}][sex]"
                                                class="form-control select"></select>
                                        {% if errors[loop.index0].sex is defined %}<label
                                                class="error">{{ errors[loop.index0].sex|trans }}</label>{% endif %}
                                    </td>
                                    <td>
                                        <select id="category{{ loop.index0 }}" name="data[{{ loop.index0 }}][category]"
                                                class="form-control select"></select>
                                        {% if errors[loop.index0].category is defined %}<label
                                                class="error">{{ errors[loop.index0].category|trans }}</label>{% endif %}
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-danger btn-rounded btn-condensed btn-sm btn-icon starter-remove">
                                                <i class="fa fa-times"></i><span>Remove</span></button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                    <div class="pull-right">
                        <button id="submit" class="btn btn-success active"><span
                                    class="fa fa-save"></span> {{ 'invite.club.save'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
