{% trans_default_domain 'uteg' %}

{% extends "base.html.twig" %}

{% block title %}{{ 'permissions.title'|trans }}{% endblock %}

{% block cssplugins %}
    <link rel="stylesheet" type="text/css" href='{{ asset("/js/plugins/datatables/dataTables.responsive.css") }}'/>
    <link rel="stylesheet" type="text/css" id="theme" href='{{ asset("js/plugins/typeahead/typeahead.css") }}'>
{% endblock %}

{% block jsplugins %}
    <script type="text/javascript" src='{{ asset("/js/plugins/datatables/jquery.dataTables.min.js") }}'></script>
    <script type="text/javascript" src='{{ asset("/js/plugins/datatables/dataTables.responsive.js") }}'></script>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('#permissions').DataTable({
                "ajax": {
                    "url": "{{ path('permissionsPost') }}",
                    "method": "POST",
                    "dataSrc": function(data) {
                        $.each(data.data, function(key, user) {
                            $.each(user, function(key, userOption) {
                                if(key != 'username' && key != 'email') {
                                    user[key] = '<i class="fa ' + userOption + '"></i>';
                                }
                            });
                        });

                        return data.data;
                    }
                },
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "{{ "starters.table.all"|trans }}"]],
                "search": {
                    "regex": true
                },
                "order": [[1, "asc"]],
                responsive: {
                    details: {
                        type: 'column'
                    }
                },
                "columns": [
                    {"data": "username", 'type': 'string'},
                    {"data": "email", 'type': 'string'},
                    {"data": "dashboard", 'type': 'string'},
                    {"data": "starters", 'type': 'string'},
                    {"data": "clubs", 'type': 'string'},
                    {"data": "settings", 'type': 'string'},
                    {"data": "permissions", 'type': 'string'},
                    {"data": "owner", 'type': 'string'},
                    {
                        "data": null,
                        "defaultContent": '{% if is_granted('PERMISSIONS_EDIT', comp) %}<div class="btn-group"><button class="btn btn-warning btn-rounded btn-condensed btn-sm btn-icon starters-edit"><i class="fa fa-edit"></i><span>Edit</span></button><button class="btn btn-danger btn-rounded btn-condensed btn-sm btn-icon starters-remove"><i class="fa fa-times"></i><span>Remove</span></button></div>{% endif %}'
                    }
                ],
                "paginate": {
                    "next": "{{ "permissions.table.next"|trans }}",
                    "previous": "{{ "permissions.table.previous"|trans }}"
                },
                "language": {
                    "search": "{{ "permissions.table.search"|trans }}",
                    "searchPlaceholder": "{{ "permissions.table.searchPlaceholder"|trans }}",
                    "thousands": "'",
                    "zeroRecords": "{{ "permissions.table.zeroRecords"|trans }}"
                }
            });
        });</script>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" style="min-height: 400px;">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'permissions.header'|trans }}</h3>
                    <ul class="panel-controls">
                        {% if is_granted("PERMISSIONS_EDIT", comp) %}
                            <li><a href="#" class="control-primary control-add"><span class="fa fa-plus"></span></a>
                            </li>
                        {% endif %}
                        <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table id="permissions" class="table table-striped" width="100%">
                        <thead>
                        <tr>
                            <th class="all">{{ 'permissions.table.username'|trans }}</th>
                            <th class="all">{{ 'permissions.table.email'|trans }}</th>
                            <th class="all">{{ 'permissions.table.dashboard'|trans }}</th>
                            <th class="all">{{ 'permissions.table.starters'|trans }}</th>
                            <th class="all">{{ 'permissions.table.clubs'|trans }}</th>
                            <th class="all">{{ 'permissions.table.settings'|trans }}</th>
                            <th class="all">{{ 'permissions.table.permissions'|trans }}</th>
                            <th class="all">{{ 'permissions.table.owner'|trans }}</th>
                            <th class="all">{{ 'permissions.table.actions'|trans }}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
