{% trans_default_domain 'uteg' %}

{% extends "base.html.twig" %}

{% block title %}{{ 'starters.title'|trans }}{% endblock %}

{% block jsplugins %}
	<script type="text/javascript" src="/js/plugins/datatables/jquery.dataTables.min.js"></script>
{% endblock %}

{% block docready %}
	var sex = ('{{ sex }}' == 'f') ? 'female' : 'male';

	$.each($('.cat-table'), function(key, table) {
		$(table).DataTable({
	        "ajax": {
	        	"url": "{{ path('starterspost') }}/" + sex + "/" + $(table).data('cat'),
	        	"method": "POST"
	        },
	        "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100, "{{ "starters.table.all"|trans }}"] ],
	        "search": {
	        	"regex": true
	        },
	        "order": [[ 1, "asc" ]],
	        responsive: true,
	        "columns": [
	        	{ "data": "id", 'type': 'integer' },
	            { "data": "firstname", 'type': 'string' },
	            { "data": "lastname", 'type': 'string' },
	            { "data": "birthyear", 'type': 'integer' },
	            { "data": "club", 'type': 'string' },
	            { "data": "category", 'type': 'string' },
	            { "data": "present", 'type': 'bool' },
	            { "data": "medicalcert", 'type': 'bool' },
	            { "data": null }
	        ], 
	        "columnDefs": [
	        	{ "visible": false, "targets": [0, 5] },
	        	{ "orderable": false, "targets": 8 },
	        	{ "searchable": false, "targets": [0, 5, 8] }
	        ],
	        "paginate": {
	        	 "next": "{{ "starters.table.next"|trans }}",
	        	 "previous": "{{ "starters.table.previous"|trans }}" 
	       	}, 
	       	"language": {
	       		"search": "{{ "starters.table.search"|trans }}",
	       		"searchPlaceholder": "{{ "starters.table.searchPlaceholder"|trans }}",
	       		"thousands": "'",
	       		"zeroRecords": "{{ "starters.table.zeroRecords"|trans }}"
	       	}
	    });
	});
	
	$('#{{ sex|raw }}_all').DataTable({
		"ajax": {
	     	"url": "{{ path('starterspost') }}/" + sex,
	    	"method": "POST"
	    },
	    "lengthMenu": [ [25, 50, 100, -1], [25, 50, 100, "{{ "starters.table.all"|trans }}"] ],
	    "search": {
	     	"regex": true
	    },
	    "order": [[ 1, "asc" ]],
	    responsive: true,
	    "columns": [
	       	{ "data": "id", 'type': 'integer' },
	        { "data": "firstname", 'type': 'string' },
	        { "data": "lastname", 'type': 'string' },
	        { "data": "birthyear", 'type': 'integer' },
	        { "data": "club", 'type': 'string' },
	        { "data": "category", 'type': 'string' },
	        { "data": "present", 'type': 'bool' },
	        { "data": "medicalcert", 'type': 'bool' },
	        { "data": null }
	    ], 
	    "columnDefs": [
	      	{ "visible": false, "targets": 0 },
	      	{ "orderable": false, "targets": 8 },
	       	{ "searchable": false, "targets": [0, 8] }
	    ],
	    "paginate": {
	       	 "next": "{{ "starters.table.next"|trans }}",
	       	 "previous": "{{ "starters.table.previous"|trans }}" 
	    }, 
	    "language": {
	    	"search": "{{ "starters.table.search"|trans }}",
	    	"searchPlaceholder": "{{ "starters.table.searchPlaceholder"|trans }}",
	    	"thousands": "'",
	    	"zeroRecords": "{{ "starters.table.zeroRecords"|trans }}"
	    }
	});
    
    $('.table').on('init.dt', function() {
    	onload();
    });
    
    $('select[name*="m_length"]').change(function()  {
    	onload();
    });
    
    $('.panel-refresh').click(function() {
    	panel_refresh(
    		$('#panel_{{ sex|raw }}'), 
    		$('div.tab-pane.active table').DataTable().ajax.reload(function() { 
    			setTimeout(function() {
    				panel_refresh($('#panel_{{ sex|raw }}')); 
    			}, 500); 
    		})
    	);
    });
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div id="panel_{{ sex|raw }}" class="panel panel-default nav-tabs-vertical">
                <div class="panel-heading">
                    <h3 class="panel-title">Starters {{ sextrans|trans }}</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="tabs">
                	<ul class="nav nav-tabs">
                		{% for i in 1..8 %}
                			<li {% if i == 1 %}class="active"{% endif %}>
	                			<a href="#{{ i }}" data-toggle="tab" aria-expanded="true">K{% if i == 8 %}{% if sex|raw == 'm' %}H{% else %}D{% endif %}{% else %}{{ i }}{% endif %}</a>
	                		</li>
                		{% endfor %}
                		<li>
	                		<a href="#all" data-toggle="tab" aria-expanded="true">{{ 'starters.tab.all'|trans }}</a>
	                	</li>
                	</ul>
                </div>
                <div class="panel-body tab-content">
                	{% for i in 1..8 %}
	                	<div id="{{ i }}" class="tab-pane{% if i == 1 %} active{% endif %}">
		                    <table id="{{ sex|raw }}_{{ i }}" class="table table-striped cat-table" data-cat="{{ i }}">
		                        <thead>
		                            <tr>
		                            	<th>id</th>
		                                <th>{{ 'starters.table.firstname'|trans }}</th>
		                                <th>{{ 'starters.table.lastname'|trans }}</th>
		                                <th>{{ 'starters.table.birthyear'|trans }}</th>
		                                <th>{{ 'starters.table.club'|trans }}</th>
		                                <th>{{ 'starters.table.category'|trans }}</th>
		                                <th>{{ 'starters.table.present'|trans }}</th>
		                                <th>{{ 'starters.table.medicalcert'|trans }}</th>
		                                <th>{{ 'starters.table.actions'|trans }}</th>
		                            </tr>
		                        </thead>
		                    </table>
		             	</div>
		             {% endfor %}
		             <div id="all" class="tab-pane">
		             	<table id="{{ sex|raw }}_all" class="table table-striped" data-cat="0">
		                	<thead>
		                		<tr>
		                         	<th>id</th>
		                           	<th>{{ 'starters.table.firstname'|trans }}</th>
		                         	<th>{{ 'starters.table.lastname'|trans }}</th>
		                       		<th>{{ 'starters.table.birthyear'|trans }}</th>
		                         	<th>{{ 'starters.table.club'|trans }}</th>
		                        	<th>{{ 'starters.table.category'|trans }}</th>
		                        	<th>{{ 'starters.table.present'|trans }}</th>
		                         	<th>{{ 'starters.table.medicalcert'|trans }}</th>
		                       		<th>{{ 'starters.table.actions'|trans }}</th>
		                    	</tr>
		                	</thead>
		           		</table>
		          	</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}