{% trans_default_domain 'uteg' %}

{% extends "base.html.twig" %}

{% block title %}{{ 'starters.title'|trans }}{% endblock %}

{% block cssplugins %}
    <link rel="stylesheet" type="text/css" href="/js/plugins/datatables/dataTables.responsive.css"/>
{% endblock %}

{% block jsplugins %}
	<script type="text/javascript" src="/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/js/plugins/datatables/dataTables.responsive.js"></script>
{% endblock %}

{% block jsfunctions %}
    function dataTable(table) {
        var sex = ('{{ sex }}' == 'f') ? 'female' : 'male';

        $(table).DataTable({
            "ajax": {
                "url": "{{ path('starterspost') }}/" + sex + "/" + $(table).data('cat'),
                "method": "POST"
            },
            "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100, "{{ "starters.table.all"|trans }}"] ],
            "search": {
                "regex": true
            },
            "order": [[ 2, "asc" ]],
            responsive: {
                details: {
                    type: 'column'
                }
            },
            "columns": [
                { "data": null, "defaultContent": "" },
                { "data": "id", 'type': 'integer' },
                { "data": "firstname", 'type': 'string' },
                { "data": "lastname", 'type': 'string' },
                { "data": "birthyear", 'type': 'integer' },
                { "data": "club", 'type': 'string' },
                { "data": "category", 'type': 'string' },
                { "data": "present", 'type': 'bool' },
                { "data": "medicalcert", 'type': 'bool' },
                { "data": null, "defaultContent": '{% if is_granted('STARTERS_EDIT', comp) %}<div class="btn-group"><button class="btn btn-warning btn-rounded btn-condensed btn-sm btn-icon starters-edit"><i class="fa fa-edit"></i><span>Edit</span></button><button class="btn btn-danger btn-rounded btn-condensed btn-sm btn-icon starters-remove"><i class="fa fa-times"></i><span>Remove</span></button></div>{% endif %}' }
            ],
            "columnDefs": [
                { "visible": false, "targets": [1, 6] },
                { "orderable": false, "targets": [0, 9] },
                { "searchable": false, "targets": [0, 1, 6, 9] },
                { "className": 'control', "targets": 0 }
            ],
            "paginate": {
                "next": "{{ "starters.table.next"|trans }}",
                "previous": "{{ "starters.table.previous"|trans }}"
            },
            "language": {
                "search": "{{ "starters.table.search"|trans }}",
                "searchPlaceholder": "{{ "starters.table.searchPlaceholder"|trans }}",
                "thousands": "'",
                "zeroRecords": "{{ "starters.table.zeroRecords"|trans }}"
            }
        });
    }
{% endblock %}

{% block docready %}
	$.each($('.cat-table'), function(key, table) {
        dataTable(table);
	});

	dataTable($('#{{ sex|raw }}_all'));

    $('.table').on('init.dt', function() {
    	onload();
    });
    
    $('select[name*="m_length"]').change(function()  {
    	onload();
    });
    
    $('.panel-refresh').click(function() {
    	panel_refresh(
    		$('#panel_{{ sex|raw }}'), 
    		$('div.tab-pane.active table').DataTable().ajax.reload(function() { 
    			setTimeout(function() {
    				panel_refresh($('#panel_{{ sex|raw }}')); 
    			}, 500); 
    		}, false)
    	);
    });

    {% if is_granted('STARTERS_EDIT', comp) %}

        $('tbody').on('click', 'td div button.starters-edit', function(event) {
            var table = $(this).parent().parent().parent().parent().parent().DataTable();
            var s2c_id = table.cell($(this).parent().parent().parent(), 1).data();

            $.ajax({
                url: "{{ path('starterEdit') }}/" + s2c_id,
                method: "POST"
            }).success(function(data) {
                $('#dialog-edit-body').html(data);
            });

            $('#dialog-edit-modal-title').html(table.cell($(this).parent().parent().parent(), 2).data() + " " + table.cell($(this).parent().parent().parent(), 3).data());
            $( "#dialog-edit" ).data('s2c_id', s2c_id).modal('show');
        });

        $('tbody').on('click', 'td div button.starters-remove', function(event) {
            var table = $(this).parent().parent().parent().parent().parent().DataTable();
            var s2c_id = table.cell($(this).parent().parent().parent(), 1).data();

            $('#dialog-remove-modal-title').html("Remove " + table.cell($(this).parent().parent().parent(), 2).data() + " " + table.cell($(this).parent().parent().parent(), 3).data());
            $('#dialog-remove-body-name').html(table.cell($(this).parent().parent().parent(), 2).data() + " " + table.cell($(this).parent().parent().parent(), 3).data());
            $("#dialog-remove").data('s2c_id', s2c_id).modal('show');
        });

        $('#starter-save').click(function() {
            var values = {};
            $.each( $('#starterEditForm').serializeArray(), function(i, field) {
                values[field.name] = field.value;
            });
            
            var url = ($('#dialog-edit-body form').attr('action').indexOf('edit') > -1) ? $('#dialog-edit-body form').attr('action') + "/" + $( "#dialog-edit" ).data('s2c_id') : $('#dialog-edit-body form').attr('action');

            $.ajax({
                type: "POST",
                url: url,
                data: values
            }).success(function(data) {
                if(data == 'true') {
                    $('#dialog-edit').modal('hide');
                    $('.panel-refresh').click();
                } else {
                	$('#dialog-edit-body').html(data);
                }
            });
        });

        $('#starter-remove').click(function() {
            $.ajax({
                type: "POST",
                url: "{{ path('starterRemove') }}",
                data: { id: $( "#dialog-remove" ).data('s2c_id') }
            }).success(function(data) {
                if(data == 'true') {
                    $('#dialog-remove').modal('hide');
                    $('.panel-refresh').click();
                }
            });
        });
        
        $('.control-add').click(function() {
        	$.ajax({
                url: "{{ path('starterAdd') }}",
                method: "POST"
            }).success(function(data) {
                $('#dialog-edit-body').html(data);
            });

            $('#dialog-edit-modal-title').html('Add new');
            $('#dialog-edit').modal('show');
        });
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div id="panel_{{ sex|raw }}" class="panel panel-default nav-tabs-vertical" style="min-height: 400px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Starters {{ sextrans|trans }}</h3>
                    <ul class="panel-controls">
                    	{% if is_granted("STARTERS_EDIT", comp) %}
                    		<li><a href="#" class="control-primary control-add"><span class="fa fa-plus"></span></a></li>
                    		<li><a href="{{ path('starterImport') }}" class="control-primary"><span class="fa fa-upload"></span></a></li>
                    	{% endif %}
                    	<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="tabs">
                	<ul class="nav nav-tabs">
                		{% for i in 1..8 %}
                			<li {% if i == 1 %}class="active"{% endif %}>
	                			<a href="#{{ i }}" data-toggle="tab" aria-expanded="true">K{% if i == 8 %}{% if sex|raw == 'm' %}H{% else %}D{% endif %}{% else %}{{ i }}{% endif %}</a>
	                		</li>
                		{% endfor %}
                		<li>
	                		<a href="#all" data-toggle="tab" aria-expanded="true">{{ 'starters.tab.all'|trans }}</a>
	                	</li>
                	</ul>
                </div>
                <div class="panel-body tab-content">
                	{% for i in 1..8 %}
	                	<div id="{{ i }}" class="tab-pane{% if i == 1 %} active{% endif %}">
		                    <table id="{{ sex|raw }}_{{ i }}" class="table table-striped cat-table" data-cat="{{ i }}" width="100%">
		                        <thead>
		                            <tr>
                                        <th class="max-tablet-p"></th>
                                        <th class="never">id</th>
                                        <th class="all">{{ 'starters.table.firstname'|trans }}</th>
                                        <th class="all">{{ 'starters.table.lastname'|trans }}</th>
                                        <th class="min-desktop">{{ 'starters.table.birthyear'|trans }}</th>
                                        <th class="min-tablet-p">{{ 'starters.table.club'|trans }}</th>
                                        <th class="never">{{ 'starters.table.category'|trans }}</th>
                                        <th class="min-tablet-l">{{ 'starters.table.present'|trans }}</th>
                                        <th class="min-tablet-l">{{ 'starters.table.medicalcert'|trans }}</th>
                                        <th class="min-tablet-p">{{ 'starters.table.actions'|trans }}</th>
		                            </tr>
		                        </thead>
		                    </table>
		             	</div>
		             {% endfor %}
		             <div id="all" class="tab-pane">
		             	<table id="{{ sex|raw }}_all" class="table responsive table-striped" data-cat="0" width="100%">
		                	<thead>
		                		<tr>
                                    <th class="max-tablet-p"></th>
                                    <th class="never">id</th>
                                    <th class="all">{{ 'starters.table.firstname'|trans }}</th>
                                    <th class="all">{{ 'starters.table.lastname'|trans }}</th>
                                    <th class="min-desktop">{{ 'starters.table.birthyear'|trans }}</th>
                                    <th class="min-tablet-p">{{ 'starters.table.club'|trans }}</th>
                                    <th class="min-tablet">{{ 'starters.table.category'|trans }}</th>
                                    <th class="min-tablet-l">{{ 'starters.table.present'|trans }}</th>
                                    <th class="min-tablet-l">{{ 'starters.table.medicalcert'|trans }}</th>
                                    <th style="width: 150px;" class="min-tablet-p">{{ 'starters.table.actions'|trans }}</th>
		                    	</tr>
		                	</thead>
		           		</table>
		          	</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block dialog %}
    {% if is_granted('STARTERS_EDIT', comp) %}
        <div class="modal fade" id="dialog-edit" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="dialog-edit-modal-title"></h4>
                    </div>
                    <div id="dialog-edit-body" class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" id="starter-save" class="btn btn-success">{{ 'starters.edit.modal.save'|trans }}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'starters.edit.modal.cancel'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="dialog-remove" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="dialog-remove-modal-title"></h4>
                    </div>
                    <div id="dialog-remove-body" class="modal-body">
                        {{ 'starters.remove.modal.question'|trans }} <span id="dialog-remove-body-name"></span>?
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="starter-remove" class="btn btn-danger">{{ 'starters.remove.modal.confirm'|trans }}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'starters.remove.modal.cancel'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}