{% trans_default_domain 'uteg' %}

{% extends "base.html.twig" %}

{% block title %}{{ 'starters.title'|trans }}{% endblock %}

{% block jsplugins %}
	<script type="text/javascript" src="/js/plugins/datatables/jquery.dataTables.min.js"></script>
{% endblock %}

{% block jsglobal %}
var table;
{% endblock %}

{% block docready %}
	var sex = ('{{ sex }}' == 'f') ? 'female' : 'male';

	table = $('#{{ sex|raw }}').dataTable( {
        "ajax": {
        	"url": "{{ path('starterspost') }}/" + sex,
        	"method": "POST"
        },
        "columns": [
            { "data": "firstname" },
            { "data": "lastname" },
            { "data": "birthdate" },
            { "data": "club" },
            { "data": "present" },
            { "data": "medicalcert" },
            { "data": null }
        ]
    } );
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Starters {{ sextrans|trans }}</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table id="{{ sex|raw }}" class="table">
                        <thead>
                            <tr>
                                <th>{{ 'starters.table.firstname'|trans }}</th>
                                <th>{{ 'starters.table.lastname'|trans }}</th>
                                <th>{{ 'starters.table.birthdate'|trans }}</th>
                                <th>{{ 'starters.table.club'|trans }}</th>
                                <th>{{ 'starters.table.present'|trans }}</th>
                                <th>{{ 'starters.table.medicalcert'|trans }}</th>
                                <th>{{ 'starters.table.actions'|trans }}</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}