{% trans_default_domain 'uteg' %}

{% extends "base.html.twig" %}

{% block title %}{{ 'championat.judging.title'|trans }}{% endblock %}

{% block cssplugins %}
{% endblock %}

{% block jsplugins %}
    <script type="text/javascript" src="{{ asset('js/plugins/maskedinput/jquery.maskedinput.min.js') }}"></script>
{% endblock %}

{% block css %}
    <style>

    </style>
{% endblock %}

{% block script %}
    <script>
        {% if error is not defined %}
        function saveClick() {

            $('.save').click(function () {
                var round = $(this).data('round');
                var device = $('#' + round + '_div table').data('device');
                var grades = new Array();
                var self = this;

                var gradeobjs = $('#' + round + '_div table input.grade');
                $.each(gradeobjs, function (key, value) {
                    grades.push({'s2c': $(value).data('starter'), 'grade': $(value).val()});
                });

                $.ajax({
                    'url': "{{ path('saveGrades', { 'compid': app.request.get('compid')}) }}/" + device,
                    'method': "POST",
                    'data': {round: round - 1, grades: grades},
                    'success': function (data) {
                        var decode = JSON.parse(data);
                        var error = false;
                        $.each(decode, function (key, data) {
                            if (data[0] === "ok") {
                                $('input[data-starter="' + key + '"]').removeClass('error');
                                $('input[data-starter="' + key + '"]').addClass('valid');
                                $('input[data-starter="' + key + '"]').attr('title', 'ok');
                            } else if (data[0] === "invalidGrade") {
                                $('input[data-starter="' + key + '"]').removeClass('valid');
                                $('input[data-starter="' + key + '"]').addClass('error');
                                $('input[data-starter="' + key + '"]').attr('title', data[1]);
                                error = true;
                            } else if (data[0] === "wrongDevice") {
                                $('input[data-starter="' + key + '"]').removeClass('valid');
                                $('input[data-starter="' + key + '"]').addClass('error');
                                $('input[data-starter="' + key + '"]').attr('title', data[1]);
                                error = true;
                            } else {
                                $('input[data-starter="' + key + '"]').removeClass('valid');
                                $('input[data-starter="' + key + '"]').addClass('error');
                                $('input[data-starter="' + key + '"]').attr('title', 'Undefined error');
                                error = true;
                            }

                        });

                        $('.grade').tooltip();

                        if (error) {
                            noty({
                                text: "{{ 'egt.judging.fixErrors' | trans }}",
                                layout: 'topCenter',
                                type: 'error',
                                timeout: 5000
                            });
                        } else {
                            noty({
                                text: "{{ 'egt.judging.saveSuccess' | trans }}",
                                layout: 'topCenter',
                                type: 'success',
                                timeout: 5000
                            });
                        }
                    }
                });
            });
        }

        $(document).ready(function () {
            {% for key, starterBase in starters %}
            {% for starter in starterBase.starters %}
            $('#{{ loop.parent.key }}_table tbody').append('<tr><td>{{ starter.firstname }}</td><td>{{ starter.lastname }}</td><td>{{ starter.club }}</td><td>{{ starter.category }}</td><td><input name="grade" class="grade form-control" data-starter="{{ starter.s2cid }}" data-toggle="tooltip" maxlength="5" min="1" max="5" pattern="((0)|(\d{1,2})([\.])(\d{2}))" placeholder="00.00"/></tr>');
            {% else %}
            $('#{{ loop.parent.key }}_div').html('<h1>{{ 'egt.judging.pause'|trans }}<h1>');
            $('#{{ loop.parent.key }}_div').data('pause', true);
            $('#{{ loop.parent.key }}_button').trigger('finished');
            {% endfor %}
            {% else %}
            $('#{{ key }}_div').html('<h1>{{ 'egt.judging.pause'|trans }}<h1>');
            $('#{{ key }}_div').data('pause', true);
            $('#{{ key }}_button').trigger('finished');
            {% endfor %}

            $('#1_li').addClass('active');
            $('#1_div').addClass('active');
            $('.grade').mask("99.99");
            $('.grade').tooltip();

            $('#minimize').click(function() {
                $('#message-box-wait').removeClass('open');
                noty({
                    text: "{{ 'egt.judging.pleaseWait' | trans }}",
                    layout: 'topCenter',
                    type: 'info'
                });
            });

            saveClick();
        });
        {% endif %}
    </script>
{% endblock %}

{% block content %}
    {% if error is not defined %}
        <div class="row">
            <div class="col-md-12">
                <div id="panel_judging" class="panel panel-default nav-tabs-vertical" style="min-height: 400px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'egt.judging.header'|trans }}</h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        </ul>
                    </div>
                    <div class="tabs">
                        <ul class="nav nav-tabs">
                            {% for device in devices %}
                                <li id="{{ loop.index }}_li">
                                    <a href="#{{ loop.index }}_div" data-toggle="tab"
                                       aria-expanded="true">{{ device.name | trans }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="panel-body tab-content" style="width: 90%">
                        {% for key, device in devices %}
                            <div id="{{ loop.index }}_div" class="tab-pane" style="width: 100%">
                                <table id="{{ device.number }}_table" data-device="{{ device.number }}"
                                       class="table table-striped table-hover"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th class="all">{{ 'egt.judging.table.firstname'|trans }}</th>
                                        <th class="all">{{ 'egt.judging.table.lastname'|trans }}</th>
                                        <th class="all">{{ 'egt.judging.table.club'|trans }}</th>
                                        <th class="all">{{ 'egt.judging.table.category'|trans }}</th>
                                        <th class="all">{{ 'egt.judging.table.grade'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <button id="{{ loop.index }}_button" class="btn pull-right btn-success save"
                                        data-round="{{ loop.index }}"><i
                                            class="fa fa-save"></i>{{ 'egt.judging.table.save'|trans }}</button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block dialog %}
{% endblock %}