{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'uteg' %}

{% block title %}{{ 'register.title'|trans }}{% endblock %}

{% block fos_user_content %}
    <div id="register">
        <div id="triangle"></div>
        <h1>{{ 'register.header'|trans }}</h1>

        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
              class="fos_user_registration_register">

            {{ form_errors(form.firstname) }}
            {{ form_widget(form.firstname) }}

            {{ form_errors(form.lastname) }}
            {{ form_widget(form.lastname) }}

            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}

            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}

            {{ form_errors(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}

            {{ form_errors(form.recaptcha) }}
            {{ form_widget(form.recaptcha) }}
            {{ form_row(form._token) }}
            <div>
                <input type="submit" value="{{ 'register.button'|trans }}"/>
            </div>
        </form>
    </div>
{% endblock %}
